{% extends 'base.html' %}
{% block content %}

<center><h3>Guia de Avaliação</h3></center>
<p>Bem-vindo ao Guia de Avaliação do AvaliaLuno! Este guia foi criado para ajudar professores a entenderem como utilizar a plataforma de forma eficaz para avaliar o desempenho dos alunos.</p>
<p>A avaliação é baseada em quatro pilares principais, e cada pilar é avaliado em uma escala de 0 a 10, onde 0 representa um desempenho insatisfatório e 10 representa excelência:</p>
<ul>
    <li><b>Conhecimento</b>: nível de compreensão do conteúdo, domínio dos conceitos da disciplina e desempenho em atividades.</li>
    <li><b>Habilidades</b>: capacidade de aplicar o conhecimento, resolver problemas e realizar produções prática</li>
    <li><b>Engajamento</b>: participação em aula, entrega de atividades, frequência e pontualidade.</li>
    <li><b>Competências</b>: organização, iniciativa e capacidade de aprender de forma independente, sem mediação constante.</li>
</ul>
<p>Ao utilizar o AvaliaLuno, o professor conta com uma ferramenta prática e estruturada para realizar avaliações mais completas e significativas. A análise integrada dos quatro pilares permite identificar pontos fortes, necessidades de melhoria e acompanhar a evolução dos alunos ao longo do tempo. Assim, o AvaliaLuno contribui para um processo avaliativo mais justo, transparente e alinhado aos objetivos educacionais, fortalecendo a prática pedagógica e promovendo o desenvolvimento integral dos estudantes.</p>
{% endblock %}