{% extends 'base.html' %}
{% block content %}
<h3><center> Professores </center></h3>
<form action="" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Nome</label>
      <input type="text" name="nome" class="form-control" id="exampleFormControlInput1" placeholder="Digite o nome da turma">
    </div>
    <div class="form-group">
      <br>
      <input type="submit" value="Cadastrar">
    </div>  
  </form>
  {% if messages %}
  {% for m in messages %}
      <div class="alert alert-warning" role="alert">
        {{ m }}
      </div>
  {% endfor %}
  {% endif %}
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-striped mb-1">
      <thead>
          <tr>
              <th scope="col">Nome da turma</th>
              <th scope="col">Excluir</th>
          </tr>
      </thead>
          {% for professores in lista_professores %}
          <tbody>
              <tr>
                  <td>{{ professor.user.first_name }}</td>
                  <td><a href="">Excluir</a></td>
              </tr>
          </tbody>
          {% endfor %}
  </table>
</div>
{% endblock %}