{% extends 'base.html' %}
{% block content %}
<h3><center> Relatórios de Avaliações </center></h3>
<form action="" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlInput1">Turma</label>
      <select name="turma" class="form-control" id="exampleFormControlInput1">
        {% for turma in lista_turmas %}
          <option value="{{ turma.id }}">{{ turma.nome }}</option>
        {% endfor %}
      </select>
    </div><br>
    <br>
    <div class="form-group">
      <br>
      <input type="submit" value="Gerar relatório">
    </div>  
  </form>
  {% if messages %}
  {% for m in messages %}
      <div class="alert alert-warning" role="alert">
        {{ m }}
      </div>
  {% endfor %}
  {% endif %}
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-striped mb-1">
      <thead>
          <tr>
              <th scope="col">Aluno</th>
              <th scope="col">Turma</th>
              <th scope="col">Nota</th>
              <th scope="col">Data</th>
              <th scope="col">Editar</th>
          </tr>
      </thead>
          {% for avaliacao in lista_avaliacoes %}
          <tbody>
              <tr>
                  <td>{{avaliacao.aluno.nome}}</td>
                  <td>{{avaliacao.aluno.turma.nome}}</td>
                  <td>{{avaliacao.nota}}</td>
                  <td>{{avaliacao.data}}</td>
                  <td><a href="">Editar</a></td>
              </tr>
          </tbody>
          {% endfor %}
  </table>
</div>
{% endblock %}