{% extends 'base.html' %}
{% block content %}
<h3><center> Turmas </center></h3>
<form action="" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <label>Nome da Turma</label>
    <input 
      type="text" 
      name="nome" 
      class="form-control" 
      placeholder="Digite o nome da turma"
      required
    >
  </div>

  <br>

  <div class="form-group">
    <input type="submit" value="Cadastrar" class="btn btn-primary">
  </div>  
</form>
  {% if messages %}
  {% for m in messages %}
      <div class="alert alert-warning" role="alert">
        {{ m }}
      </div>
  {% endfor %}
  {% endif %}
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-striped mb-1">
      <thead>
          <tr>
              <th scope="col">Nome da turma</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
          </tr>
      </thead>
          {% for turma in lista_turmas %}
          <tbody>
              <tr>
                  <td>{{ turma.nome }}</td>
                  <td><a href="">Editar</a></td>
                  <td><a href="">Excluir</a></td>
              </tr>
          </tbody>
          {% endfor %}
  </table>
</div>
{% endblock %}